# vs
RhythmGameProjectVer2.1/vs/
RhythmGameProjectVer3.0/vs/
RhythmGameProjectVer3.1/vs/
RhythmGameProjectVer4.0/vs/
RhythmGameProjectVer4.1/vs/
RhythmGameProjectVer4.2/vs/
RhythmGameProjectVer5.0/vs/
RhythmGameProjectVer2.1/.vs/
RhythmGameProjectVer3.0/.vs/
RhythmGameProjectVer3.1/.vs/
RhythmGameProjectVer4.0/.vs/
RhythmGameProjectVer4.1/.vs/
RhythmGameProjectVer4.2/.vs/
RhythmGameProjectVer5.0/.vs/
RhythmGameProjectVer2.1/RhythmGameProject/Debug/
RhythmGameProjectVer3.0/RhythmGameProject/Debug/
RhythmGameProjectVer3.1/RhythmGameProject/Debug/
RhythmGameProjectVer4.0/RhythmGameProject/Debug/
RhythmGameProjectVer4.1/RhythmGameProject/Debug/
RhythmGameProjectVer4.2/RhythmGameProject/Debug/
RhythmGameProjectVer5.0/RhythmGameProject/Debug/
Resource/
lib/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
*.tlog
*.log
